*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F3F5;
    overflow: hidden;
}

#container h1{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;

    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;    
    color: #2e384d;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    margin-top: 7rem;
    font-family: 'Poppins', sans-serif;    
}

#buttons{
    margin-top: 5rem; /* seta margem do contador */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* cria duas colunas */
    gap: 2rem; /* coloca um espaço entre as colunas */
}

#buttons button{
    background-color: #dddddd;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
    color: #2e384d;    
}

#buttons #start, #buttons #finish, #buttons #increase, #buttons #decrease {
    align-self: center;
    justify-self: center;
    width: 8rem;
    height: 4rem;
    border-radius: 8px;
    border-color: #2e384d;
    box-shadow: rgba(0, 0, 0, 0.05);
}


/* estilizações pra centralizar os botões no display grid, único jeito que consegui */
#buttons #increase, #buttons #start{ 
    transform: translateX(400px); /* move horizontalmente */
}

#buttons #decrease, #buttons #finish{
    transform: translateX(-400px); /* move horizontalmente */
}