*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2F3F5;
    overflow: hidden;
}

#container h1{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;

    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;    
    color: #2e384d;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 7rem;
    margin-top: 7rem;
    font-family: 'Poppins', sans-serif;    
}

#buttons button{
    background-color: #dddddd;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
    color: #2e384d;   

    width: 8rem;
    height: 4rem;
    border-radius: 8px;
    border-color: #2e384d;
    box-shadow: rgba(0, 0, 0, 0.05);
}

