*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e26d5c;
}

#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;    
    color: black;
}

#timer{
    display: flex;
    flex-direction: column;
    
    font-size: 8.5rem;
    margin: 6rem 0 8rem 0;
    font-family: 'Varela Round', sans-serif;    
}

#buttons{
    display: grid;
    grid-template-columns: 2fr 2fr;
    row-gap: 1.5rem;
    column-gap: 3rem;
}

#buttons button{
    width: 8rem;
    height: 4rem;
    margin-left: auto;

    border-radius: 0.5rem;
    border-color: #2e384d;
    box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.15);

    background-color: #ffe1a8;
    font: 1.1rem 'Varela Round', sans-serif;
    color: black;   
    cursor: pointer;
}

#social{
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 5rem;

    background-color: #ffe1a8;  
}

#social a{
    margin: 0.5rem;
}

#social a img{
    width: 2rem;
}

/* animações dos botões */
#buttons .anim:hover{
    background-color: #c5c4c4;
    transition: 300ms;
}
