*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DFCFBE;
    overflow: hidden;
}

#container h1{
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;    
    color: #000000;
}

#timer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    margin-top: 3rem;
    font-family: 'Poppins', sans-serif;    
}

#buttons{
    margin-top: 3rem; /* seta margem do contador */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* cria duas colunas */
    gap: 2rem; /* coloca um espaço entre as colunas */
}

#buttons button{
    background-color: #dddddd;
    font-family: 'Poppins', sans-serif; 
    font-size: 1.1rem;
    color: #2e384d;   
    cursor: pointer;
}

#buttons #start, #buttons #finish, #buttons #increaseOne, #buttons #decreaseOne, #buttons #increaseFive, #buttons #decreaseFive, #buttons #pause, #buttons #reset {
    align-self: center;
    justify-self: center;
    width: 8rem;
    height: 4rem;
    border-radius: 8px;
    border-color: #2e384d;
    box-shadow: rgba(0, 0, 0, 0.05);
}


/* estilizações pra centralizar os botões no display grid, único jeito que consegui */
#buttons #increaseOne, #buttons #start, #buttons #increaseFive, #buttons #pause { 
    transform: translateX(25rem); /* move horizontalmente */
}

#buttons #decreaseOne, #buttons #finish, #buttons #decreaseFive, #buttons #reset {
    transform: translateX(-25rem); /* move horizontalmente */
}

#social{
    height: 5.5vh;
    width: 8vw;
    min-width: 6vw;
    margin-top: 3rem;
    margin-left: 2rem;

    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#social a{
    display: flex;
    justify-content: center; 
    margin: 0.5rem;
}

#social a img{
    display: flex;
    justify-content: center;
    width: 2rem;
}


/* animações dos botões */

#buttons .anim:hover{
    background-color: #c5c4c4;
    transition: 300ms;
}
